<p id="notice"><%= notice %></p>

<div class="form-group">
  <strong>List:</strong>
  <%= @task.list %>

  <strong>Title:</strong>
  <%= @task.title %>

  <strong>Notes:</strong>
  <%= @task.notes %>

  <strong>Due:</strong>
  <%= @task.due %>

  <strong>Is complete:</strong>
  <%= @task.is_complete %>
</div>

<%= link_to 'Edit', edit_task_path(@task), class: "btn btn-link"  %> |
<%= link_to 'Back', tasks_path, class: "btn btn-link"  %>
